<div class="login-and-signup-page">
    <h1 class="logo"><span>Dev</span>Space</h1>

   <form class="registr-info-form">
        <div class="form-header">
            <h3>أنشاء حساب</h3>
            <p>اكتملت علمية التحقق من البريد الاكتروني الان اكمل المعلومات  <br>المتبقية لانشاء حسابك</p>
       
    </form>

</div>