@model LoginViewModel
@{
    Layout = "";
}
<div class="login-and-signup-page">
    <h1 class="logo"><span>Dev</span>Space</h1>

    <form class="login-form" method="post">
        <div class="form-header">
            <h3>تسجيل الدخول</h3>
            <p>يُرجى تسجيل الدخول للاطلاع على المزيد</p>
        </div>
        <div class="form-input-boxes">
            @if(ViewBag.ErrorLogin == false)
                    {
                        <span class="alert alert-danger">@ResourceData.lbMsgErrorLogin</span>
                    }
            <small>اسم المستخدم</small>
            <input asp-for="UserName" type="text" placeholder="اسم المستخدم" required>
            <small>كلمة المرور</small>
            <input asp-for="Password" type="password" placeholder="كلمة المرور" required>
            <input type="checkbox" id="remember" asp-for="RemmeberMe">
              <label for="remember">
                تذكرني
              </label>
            <button class="btn btn-primary btn-hover">دخول</button>
            <p style="margin: 0 auto;">ليس لديك حساب؟ <a href="/Accounts/Register"><span>انشاء حساب جديد</span></a></p>
        </div>
    </form>
</div>