<div class="login-and-signup-page">
    <h1 class="logo"><span>Dev</span>Space</h1>
    <form class="registr-info-form">
        <div class="form-header">
            <h3>أنشاء حساب</h3>
            <p>سيصلك رمز تحقق على البريد الاكتروني الرجاء وضع الرمز في المربع ادناه</p>
        </div>
        <div class="form-input-boxes">
            <small>رمز التحقتق</small>
            <input type="number" placeholder="رمز التحقق" required>
            <button class="btn btn-primary btn-hover">تحقق</button>
        </div>
    </form>
</div>