<head> 
    <link rel="stylesheet" href="~/css/style.css">
</head>

<div class="login-and-signup-page">
    <h1 class="logo"><span>Dev</span>Space</h1>

    <form class="reset-password-form">
        <div class="form-header">
            <h3>إعادة تعيين كلمة السر</h3>
            <p>لقد نجح التحقق الان يمكنك اعادة تعين كلمة المرور الخاصة بك</p>
        </div>
        <div class="form-input-boxes">
            <small>كلمة المرور</small>
            <input type="email" placeholder="كلمة المرور الجديدة" required>
            <small>تأكيد كلمة المرور</small>
            <input type="email" placeholder="تأكيد كلمة المرور الجديدة" required>
            <button class="btn btn-primary btn-hover">تغيير كلمة المرور</button>
        </div>
    </form>

</div>