<div class="login-and-signup-page">
    <h1 class="logo"><span>Dev</span>Space</h1>

    <form class="check-restpassword-code-form">
        <div class="form-header">
            <h3>إعادة تعيين كلمة السر</h3>
            <p>ادخال رمز التحقتق الذي وصلك على الايميل من اجل ان اعادة تعيين كلمة المرور</p>
        </div>
        <div class="form-input-boxes">
            <small>رمز التحقتق</small>
            <input type="number" placeholder="هنا ضع رمز التحقتق" required>
            <button class="btn btn-primary btn-hover">تحقق من الرمز</button>
        </div>
    </form>

</div>