<div class="login-and-signup-page">
    <h1 class="logo"><span>Dev</span>Space</h1>

    <form class="login-form">
        <div class="form-header">
            <h3>تسجيل الدخول</h3>
            <p>يُرجى تسجيل الدخول للاطلاع على المزيد</p>
        </div>
        <div class="form-input-boxes">
            <small>اسم المستخدم</small>
            <input type="text" placeholder="اسم المستخدم" required>
            <small>كلمة المرور</small>
            <input type="password" placeholder="كلمة المرور" required>
            <a href="#" class="forget-password">هل نسيت كلمة المرور؟</a>
            <button class="btn btn-primary btn-hover">دخول</button>
            <p style="margin: 0 auto;">ليس لديك حساب؟ <span>انشاء حساب جديد</span></p>
        </div>
    </form>

</div>