<div class="login-and-signup-page">
    <h1 class="logo"><span>Dev</span>Space</h1>

    <form class="registr-info-form">
        <div class="form-header">
            <h3>أنشاء حساب</h3>
            <p>مرحبا بك، انشاء حسابك واستمتع بالتواصل  المبرمجين</p>
        </div>
        <div class="form-input-boxes">
            <small>الاسم الاول</small>
            <input type="text" placeholder="الاسم الاول" required>
            <small>الاسم الثاني</small>
            <input type="text" placeholder="الاسم الثاني" required>
            <small>الجنس</small>
            <div class="gender" style="display: flex; gap: 10px;">
                <input type="radio" name="gender" value="" required>
                <label style="margin-left: 24px;">ذكر</label>
                <input type="radio" name="gender" value="female" required>
                <label>انثى</label>
            </div>
            <small>تاريخ الميلاد</small>
            <input type="date" required>
            <small>الدولة</small>
            <select name="" id="">
                <option value="اليمن">اليمن</option>
                <option value="السعودية">السعودية</option>
                <option value="الإمارات">الإمارات</option>
                <option value="قطر">قطر</option>
                <option value="الأردن">الأردن</option>
                <option value="الكويت">الكويت</option>
                <option value="مصر">مصر</option>
                <option value="السودان">السودان</option>
                <option value="فلسطين">فلسطين</option>
                <option value="عمان">عمان</option>
                <option value="سوريا">سوريا</option>
                <option value="لبنان">لبنان</option>
                <option value="المغرب">المغرب</option>
                <option value="تونس">تونس</option>
                <option value="ليبيا">ليبيا</option>
                <option value="العراق">العراق</option>
            </select>
            <small>البريد الاكتروني</small>
            <input type="email" placeholder="البريد الاكتروني" required>
            <button class="btn btn-primary btn-hover">دخول</button>
            <p style="margin: 0 auto;">لديك حساب بالفعل؟ <span>تسجيل الدخول</span></p>
        </div>
    </form>

</div>