<div class="login-and-signup-page">
    <h1 class="logo"><span>Dev</span>Space</h1>
    <form class="registr-complete-info-form">
        <div class="form-header">
            <h3>أنشاء حساب</h3>
            <p>اكتملت علمية التحقق من البريد الاكتروني الان اكمل المعلومات  <br>المتبقية لانشاء حسابك</p>
        </div>
        <div class="form-input-boxes">
            <small>اسم المستخدم</small>
            <input type="text" placeholder="اسم المستخدم" required>
            <small>كلمة المرور</small>
            <input type="password" placeholder="كلمة المرور" required>
            <button class="btn btn-primary btn-hover">دخول</button>
        </div>
    </form>
</div>