<div class="login-and-signup-page">
    <h1 class="logo"><span>Dev</span>Space</h1>
    <form class="send-email-code-form">
        <div class="form-header">
            <h3>إعادة تعيين كلمة السر</h3>
            <p>يُرجى ادخال البريد الاكتروني الخاص بك لكي نستطيع ان نرسل لك <br>رمز التحقتق اعادة تعيين كلمة المرور</p>
        </div>
        <div class="form-input-boxes">
            <small>البريد الاكتروني</small>
            <input type="email" placeholder="البريد الاكتروني" required>
            <button class="btn btn-primary btn-hover">ارسال</button>
        </div>
    </form>
</div>