<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Dev_space</title>

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/Dev_space.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="my-container">
        <div class="layout">
            <div class="herder">
                <h1 class="logo"><span>Dev</span>Space</h1>
                <div class="search-box">
                    <input type="search" class="search-input " placeholder="اكتب ما تريد البحث عنه" >
                    <div class="image-container"><img src="~/lib/assites/Icons/search-normal.svg" alt="search"></div>
                </div>
            </div>
            <div class="body">

                <div class="right-sidebar">
                    <div class="profile" href="#">
                        <p class="name">عبدالله بن شحبل</p>
                        <p class="user-name">abud3l</p>
                    </div>
                    <div class="navigation">
                        <a class="nav " asp-controller="Home" asp-action="Index" > <img src="~/lib/assites/Icons/home.svg" alt=""> الرئيسية</a>
                        <a class="nav" asp-controller="Profile" asp-action="profile" > <img src="~/lib/assites/Icons/profile.svg" alt=""> الملف الشخصي</a>
                        <a class="nav" asp-controller="Notification" asp-action="notification" > <img src="~/lib/assites/Icons/notification.svg" alt=""> التنبيهات</a>
                        <a class="nav" asp-controller="Bookmarks" asp-action="bookmarks" > <img src="~/lib/assites/Icons/Bookmark.svg" alt=""> المحفوظات</a>
                        <a class="nav logout"> <img src="~/lib/assites/Icons/Logout.svg" alt=""> تسجيل الخروج</a>
                    </div>
                </div>

                <div class="center-side">
                    <main role="main" style="height:100%">
                    @RenderBody()
                    </main>

                    <div class="more-popup-shadow">
                        <div class="popup-more-option">
                        <button class="btn btn-secondary btn-hover">مشاركة</button>
                        <button class="btn btn-secondary btn-hover" onclick="showAndHide('more-popup-shadow')">الغاء</button>
                        </div>
                    </div>
                </div>

                <div class="left-sidebar">
                    <div class="hashtags">
                        <div class="you-follow">
                            <h3>تتابع</h3>
                            <div class="hastag">
                                <a asp-controller="Hashtag" asp-action="hashtag" class="hashtag-name">#الذكاء_الاصطناعي</a>
                                <small class="hashtag-number">1,301 منشور</small>
                            </div>
                            <div class="hastag">
                                <p class="hashtag-name">#بايثون</p>
                                <small class="hashtag-number">1,301 منشور</small>
                            </div>
                            <div class="hastag">
                                <p class="hashtag-name">#برمجة</p>
                                <small class="hashtag-number">1,301 منشور</small>
                            </div>
                            <div class="hastag">
                                <p class="hashtag-name">#حافاسكربت</p>
                                <small class="hashtag-number">1,301 منشور</small>
                            </div>
                        </div>
                        <div class="for-you">
                            <h3>لك</h3>
                            <div class="hastag">
                                <p class="hashtag-name">#حي_بي_تي</p>
                                <small class="hashtag-number">1,301 منشور</small>
                            </div>
                            <div class="hastag">
                                <p class="hashtag-name">#تعلم_البرمجة</p>
                                <small class="hashtag-number">1,301 منشور</small>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/js/main.js"></script>

</body>
</html>