@*<script>
    document.querySelector(".navigation > a:nth-child(3)").classList.add("active-bar");
</script>

<div class="notification-page">
    <div class="notifications-container">
        <div class="notficate-like">
            <div class="image-container like-image"><img src="~/lib/assites/Icons/Hover-outline-heart.svg" alt=""></div>
            <div class="div">
                <div class="pepole-images">
                    <div class="image-container"><img src="~/lib/assites/images/Profile.png" alt=""></div>
                    <div class="image-container"><img src="~/lib/assites/images/Profile.png" alt=""></div>
                </div>
                <p>قام ليث و محمد و 12 آخرين بالاعجاب بمنشورك</p>
            </div>
        </div>
        <div class="notification-comment">
            <div class="twit-container">
                <div class="twit-header">
                    <div class="account-info">
                        <div class="image-container"><img src="~/lib/assites/images/Profile.png" alt=""></div>
                        <div class="user-info">
                            <p class="account-name">عبدالله بن شحبل</p>
                            <small class="account-username">abud3l ردا على عليك</small>
                        </div>
                    </div>
                </div>
                <div class="twit-content">
                    <p class="content">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى،هذا النص هو مثال لنص يمكن أن <span>#الذكاء_الاصطناعي</span> في نفس المساحة</p>
                </div>
                <div class="twit-intraction-buttons">
                    <button class="like">
                        <div class="image-container share"><img src="~/lib/assites/Icons/outline-heart.svg" alt=""></div>
                        <p class="like-amount">215 اعجاب</p>
                    </button>
                </div>
            </div>
        </div>
        <div class="notficate-like">
            <div class="image-container like-image"><img src="~/lib/assites/Icons/Hover-outline-heart.svg" alt=""></div>
            <div class="div">
                <div class="pepole-images">
                    <div class="image-container"><img src="~/lib/assites/images/Profile.png" alt=""></div>
                    <div class="image-container"><img src="~/lib/assites/images/Profile.png" alt=""></div>
                </div>
                <p>قام ليث و محمد و 12 آخرين بالاعجاب بمنشورك</p>
            </div>
        </div>
    </div>
</div>*@