@inject UserManager<ApplicationUser> userManger
@model Post
@{
    ViewData["Title"] = "Home Page";
}
<script>
    document.querySelector(".navigation > a:nth-child(1)").classList.add("active-bar");
</script>


<a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-hover d-block update-home" id="home-update-btn" onclick="afterDelay(this)">تحديث الخلاصة</a>

<div class="home-page" id="home" style="padding-bottom: 150px">

    <div class="think-container">
        <p>في ماذا تفكر؟</p>
        <hr>
        <div class="input-box">
            <div class="image-container" style="width:50px"><img src="~/Images/Personal/@((await userManger.GetUserAsync(User)).ImgUser)" alt="Profile"></div>
            <div class="add-twit" onclick="showAndHide('input-popup-shadow'), document.getElementById('twit-text').focus()" ><small style="" >اكتب ما تفكر فيه</small></div>
        </div>
                            
        <div class="input-popup-shadow">
                <form asp-action="Post" enctype="multipart/form-data" method="post">
                    <div class="popup-input">
                        <p>في ماذا تفكر؟</p>
                        <hr>
                        <div class="popup-input-box">
                            <input asp-for="User" hidden value="@((await userManger.GetUserAsync(User)).Id)" />
                            <div class="image-container"><img src="~/Images/Personal/@((await userManger.GetUserAsync(User)).ImgUser)" alt="Profile"></div>
                            <textarea id="twit-text" asp-for="Text" rows="4" placeholder="اكتب ماتفكر فيه"></textarea>
                            <textarea asp-for="Code" class="code-box"rows="5" placeholder="اكتب الكود" style="direction:ltr"></textarea>
                            <input asp-for="Img"  type="file" class="popup-input-image" accept="image/*" style="display: none;">
                            <div class="image-container" id="new-twit-image-container"><img src="" class="image-of-new-twit" alt=""></div>
                        </div>
                        <div class="action-buttons">
                            <div class="media-buttons">
                                <div class="btn" onclick="openImageDailog('popup-input-image')"><img src="~/lib/assites/Icons/image.svg" alt=""><span>إضافة صورة</span></div>
                                <div class="btn" onclick="showAndHide('code-box')"><img src="~/lib/assites/Icons/video.svg" alt="">إضافة كود</div>
                            </div>  
                            <input type="submit" class="btn btn-primary" value="نشر">
                            <div class="btn btn-secondary cansle-btn" onclick="showAndHide('input-popup-shadow')" style="display: inline-block;">الغاء</div>
                        </div>
                    </div>
                </form>
        </div>
        <div class="more-popup-shadow">
                                    <div class="popup-more-option">
                                    <button class="btn btn-secondary btn-hover">مشاركة</button>
                                    <button class="btn btn-secondary btn-hover" onclick="showAndHide('more-popup-shadow')">الغاء</button>
                                    </div>
                   </div>
    </div>
    

    <div id="dataContainer">
     <div >
        @await Component.InvokeAsync("GetPosts")
        </div>
     </div>
@section Scripts{
    <script>
        var pageNumber = 2;
        var pageSize = 20;
        var isLoading = false;

        function fetchData() {
            if (!isLoading) {
                isLoading = true;
                $.ajax({
                    url: "/Home/GetPostsViewComponente",
                    method: "GET",
                    data: { _pageNumber: pageNumber, pageSize: pageSize },
                    success: function(data) {
                        if (data.length > 0) {
                            $("#dataContainer").append(data);
                            pageNumber++; 
                        }
                    },
                    error: function() {
                        console.error("Failed to fetch data.");
                    },
                    complete: function() {
                        isLoading = false;
                    }
                });
            }
        }
        fetchData();
    </script>
}

    <button class="btn btn-primary btn-hover d-block" style="margin-top:20px" onclick="fetchData();">المزيد</button>
</div>
